.top-bar {
    box-shadow: 0 6px 5px 3px rgba(145, 145, 145, 0.76);
    z-index: 10;
    position: relative;
}

.content-wrapper {
    background-color: rgba(0, 0, 0, 0.03);
    position: relative;
    z-index: 0;
}

.content {
    padding: 2em 2em;
}

.header-logo {
    padding-right: 5px;
}